<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.romero.a2019102019ariiqvalerianromero">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.2019102019ariiqvalerianromero">
        <activity
            android:name=".About"
            android:exported="false"
            android:label="About"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BahasaPemrograman"
            android:exported="false"
            android:label="Bahasa Pemrograman"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LuasLingkaran"
            android:exported="false"
            android:label="Menghitung Luas Lingkaran"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AnggotaKelas"
            android:exported="false"
            android:label="Anggota Kelas"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>